body {
    color:white;
    background-color: black;
    font-family: Arial;
}

ul {
    display: flex;
    justify-content: space-between ;
    list-style-type:none;
    align-items:center;
    padding: 16px;
}

a {
    color:#00ff55;
    text-decoration: none;
    text-align: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #0000FF;
}

.center {
    text-align: center;
}

h1 {
    color:white;
}

h2 {
    color: #00ff55;
}

h3{
    color: white;
}

h4 {
    color:#00ff55;
}

h5 {
    color:#00ff55;
    text-align: center;
}

h6 {
    color:#00ff55;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    margin:20px ;
}
footer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #00ff55;
}

footer {
    display: flex;
    justify-content: center;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color:#00ff55;
}

li {
    color: white;
}

p1 {
    color:#39ff14;
}



